<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Quiz</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quiz</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngIf="currentElement">
    <ion-card-header>
      <ion-card-title>
        <p>{{ currentElement.title }}</p>
      </ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-button (click)="answer(1)">{{ currentElement.a1 }}</ion-button>
      <ion-button (click)="answer(2)">{{ currentElement.a2 }}</ion-button>
      <ion-button (click)="answer(3)">{{ currentElement.a3 }}</ion-button>
      <ion-button (click)="answer(4)">{{ currentElement.a4 }}</ion-button>
    </ion-list>
    <ion-label>Current score: {{userScore}}</ion-label>
  </ion-card>
</ion-content>
